<label class="input-container">
  {{#if label}}
    <span class="label">{{label}}</span>
  {{/if}}
  <input 
    id={{id}} 
    name="{{id}}" 
    value="{{value}}"
    type={{type}} 
    placeholder="{{placeholder}}" 
    class="input input-size--{{size}} {{block}}"
    required="{{required}}"
  />
  <div class="error-message">{{errorMessage}}</div>
</label>