<label class="input-container">

        <span class="label">
            {{#if label}}
                {{label}}
            {{/if}}
        </span>

    <input id="{{id}}" name="{{name}}" {{{password}}} value="{{value}}" type={{type}} placeholder="{{placeholder}}"
           class="input input-size--{{size}} {{block}}" required="{{required}}"/>
    <div class="error-message">{{errorMessage}}</div>
</label>
