<button class="button button--{{variant}} button-size--{{size}} {{block}}" type="{{type}}">
    {{#if link}}
        <a href="{{link}}">{{text}}</a>
    {{else}}
        {{text}}
    {{/if}}
</button>
