<div class="page login-page">
  <form class="card login-form">
    <p class="card__title"> {{title}}</p>
    <div class="card__fields">
      {{{loginInput}}}
      {{{passwordInput}}}
    </div>
    <div class="card__actions">
      {{{buttonAuth}}}
      {{{linkToRegistration}}}
    </div>
  </form>
</div>
