<div class="page login-page">
  <div class="card login-form">
    <span class="card__title">  {{title}}</span>
    <div class="card__fields">
      {{{loginInput}}}
      {{{passwordInput}}}
    </div>
    <div class="card__actions">
      {{{buttonAuth}}}
      {{{linkToRegistration}}}
    </div>
  </div>
</div>