<div class="page registration-page">
  <form class="card registration-form">
    <span class="card__title">  {{title}}</span>
    <div class="card__fields">
      {{{firstNameInput}}}
      {{{secondNameInput}}}
      {{{loginInput}}}
      {{{emailInput}}}
      {{{passwordInput}}}
      {{{confirmPasswordInput}}}
      {{{phoneInput}}}
    </div>
    <div class="card__actions">
      {{{buttonRegistration}}}
      {{{linkToAuth}}}
    </div>
  </div>
</div>