<form class="form card">
    {{#if title}}
        <p class="form__title"> {{title}}</p>
    {{/if}}

    <div class="form__fields">
        {{#each fields}}
            {{{this}}}
        {{/each}}
    </div>
    <div class="form__actions">
        <div class="row">
           
            {{#if secondaryButton}}
                {{{secondaryButton}}}
            {{/if}}
            {{{submitButton}}}
        </div>
        {{#if borderlessButton}}
            {{{borderlessButton}}}
        {{/if}}

    </div>
</form>
