<div class="last-message row {{active}}">
  <div class="last-message__avatar">
    {{#if message.avatar}}
      <img src="{{API_URL}}/resources{{message.avatar}}" alt="изображение пользователя"
           class="avatar">
    {{else}}
      <img src="{{IconUser}}" alt="изображение отсутствует">
    {{/if}}

  </div>
  <div class="last-message__info">
    <div class="row">
      <p class="last-message__name">{{message.title}}</p>
      <p class="last-message__date">{{message.last_message.time}}</p>
    </div>
    <div class="row">
    <p class="last-message__text">
      {{#if message.last_message}}
        <b> {{message.last_message.user.first_name}}: </b>
        {{message.last_message.content}}
      </p>
      {{else}}
        Нет сообщений
      {{/if}}

      {{#if (gt message.unread_count 0)}}
        <p class="last-message__counter">{{message.unread_count}}</p>
      {{/if}}

    </div>
  </div>
</div>
