<div class="last-message row {{active}}">
    <div class="last-message__avatar">
        {{#if avatarPath}}
            <img src="{{avatarPath}}" alt="изображение пользователя" class="avatar">
        {{else}}
            <img src="images/icon-user.png" alt="изображение отсутствует">
        {{/if}}

    </div>
    <div class="last-message__info">
        <div class="row">
            <p class="last-message__name">{{user}}</p>
            <p class="last-message__date">{{date}}</p>
        </div>
        <div class="row">
            <p class="last-message__text">{{text}}</p>
            {{#if (gt unreadMessage 0)}}
                <p class="last-message__counter">{{unreadMessage}}</p>
            {{/if}}

        </div>
    </div>
</div>
